
<div class="row container">
    <div class="col-md-4 col-sm-6">
        <div id="show-img" class="panel panel-default">
            <%=image_tag @recipe.recipe_img.url,  class:" img-rounded img-thumbnail", alt: 'a recipe'%>
        </div>
        <div class="panel panel-default reviews-section">
            <div class="panel-body">
                <h2>Reviews</h2>
                <% @recipe.reviews.each do |review| %>
                    <div class="reviews">
                        <div class="star-rating" data-score= <%= review.rating %> ></div>
                        <p><%= review.comment %></p>
                    </div>
                    <% if (user_signed_in?)&& (review.user!=nil) && (review.user.id==current_user.id)%>
                        <div>
                            <%=link_to("Edit Review", edit_recipe_review_path(@recipe, review), class:"btn btn-info" )%>
                            <%=link_to("Delete Review", recipe_review_path(@recipe, review), method: :delete, class:"btn btn-danger" )%>
                        </div>
                    <%end%>
                <%end%>
                <hr>
                <% if (user_signed_in?)%>
                    <%=link_to("Add Review", new_recipe_review_path(@recipe),  class:"btn btn-lg btn-default" )%>
                <%end%>
            </div>
        </div>  
    </div>
       
    <div class="col-md-8 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><%= @recipe.title %></h3>
            </div>
            <div class="panel-body">
                <p>Published by <span class="h3"><%= @recipe.publisher %></span></p>
                <h4>Categories: <span class="h5"><%= @recipe.categories.map(&:name).join(', ') %></span></h4>
                <br>
                <h4>Average Rating</h4>
                <div class='star-rating' data-score=<%= @avg_rating %>></div>
                <em>Based in <%= "#{@reviews.size} reviews" %></em>
                <br>
                <br>
                <h5>Ingredients:</h5>
                <ul>
                    <p><%= simple_format(@recipe.description)%></p>
                <ul>
            </div>
            <div class=" panel-footer buttons">
                <% if user_signed_in?%>
                    <%=link_to("Edit Recipe",edit_recipe_path(@recipe), class:"btn btn-info")%>
                    <%=link_to("Delete Recipe", recipe_path(@recipe), method: :delete, class:"btn btn-danger")%>
                <%end%>
            </div>
        </div>
    </div>
</div>    
    <script>
    $('.star-rating').raty({
      path: '/images/ratyrate',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
   </script>    
  
    
   