<!DOCTYPE html>
<html>
<head>
  <title>RecipesReview</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    
    <header class="navbar navbar-default  navbar-inverse">
      <div class="container ">
        <h4><%= link_to "Recipe Review", recipes_path,class: "navbar-brand" %></h4>
        
        <nav>
          
          <ul class="nav navbar-nav navbar-right "> 
          
          <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Categories
                  <span class="caret"></span>
                </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <% Category.all.each do |c| %>
                       <li> <%= link_to "#{c.name}", category_recipes_path(c.name) %> </li>
                      <%end%>
                  </ul>
              </div>
          </ul>
          
          <ul class="nav navbar-nav navbar-left " >
            <% if current_user.nil? %>
                  
              <li><%= link_to("Log in", new_user_session_path) %></li> 
              <li><%= link_to("Sign up", new_user_registration_path) %></li>
            <% else %>
              
              <li><%= link_to("Log out", destroy_user_session_path, method: :delete) %></li>
            <% end %>
          
              <li><%= link_to("Add recipe", new_recipe_path) %></li>
           
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
      <%= yield %>
    </div>
</body>
</html>
